---
import PageLayout from "../layouts/PageLayout.astro";
import { getDesc, getTitle } from "../utils";
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";

const links = await getCollection("projects");
const data = links.map(({ data }) => data);
---

<PageLayout
    title={getTitle("Projects")}
    description={getDesc("The Projects Page")}
>
    <ul data-pagefind-body>
        {
            data.map(({ title, repo, description }) => (
                <li>
                    <a
                        href={repo}
                        target="_blank"
                        class="flex items-center p-4 card mb-4 group"
                    >
                        <h2 class="font-bold text-xl text-nowrap text-primary group-hover:text-accent transition-colors">{title}</h2>
                        <p class="ml-4 max-sm:hidden text-secondary">{description}</p>
                        <Icon
                            class="ml-auto w-5 h-5 shrink-0 text-secondary group-hover:text-accent transition-colors"
                            name="material-symbols:open-in-new"
                        />
                    </a>
                </li>
            ))
        }
    </ul>
</PageLayout>
