---
import {Icon} from "astro-icon/components";
interface Props {
    icon?: string
}

const {icon} = Astro.props
---
<div class="badge">
    {icon &&
            <Icon class="w-4 h-4 mr-1.5 text-accent" name={icon}/>}
    <slot/>
</div>